In [1]:
import sys
!{sys.executable} -m pip install mysql-connector sqlalchemy
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine
from config import *

Requirement already satisfied: mysql-connector in /usr/local/lib/python3.6/site-packages
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.6/site-packages
You are using pip version 9.0.1, however version 10.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
disaster_frame = pd.read_csv('emdata.csv',names=['DisDate','Iso','DisType','Deaths','DollarDamage'])
disaster_frame.head()

      DisDate  Iso     DisType  Deaths  DollarDamage
0  10/06/1954  AFG  Earthquake    2000             0
1    /07/1956  AFG       Flood      51             0
2      //1969  AFG     Drought       0           200
3      //1973  AFG     Drought       0             0
4  19/03/1976  AFG  Earthquake      50             0

In [3]:
def split_dates(frame):
    dates = frame.DisDate
    split_dates = dates.apply(lambda x: x.split('/'))
    years_only = split_dates.apply(lambda x: not x[0] and not x[1])
    months_only = split_dates.apply(lambda x: not x[0] and not not x[1])
    full_dates = split_dates.apply(lambda x: all(x))
    #Accurate to years only, months only and days only respectively
    return frame[years_only], frame[months_only], frame[full_dates]

In [10]:
years, months, days = split_dates(disaster_frame)

In [11]:
def is_date(row,year=None,month=None,day=None):
    retVal = True
    if year:
        retVal = retVal and row['DisDate'].split('/')[2] == str(year)
    if month:
        retVal = retVal and row['DisDate'].split('/')[1] == str(month).zfill(2)#Zero-Padding
    if day:
        retVal = retVal and row['DisDate'].split('/')[0] == str(day).zfill(2)#Zero-Padding
    return retVal

TypeError: Required argument 'day' (pos 3) not found

# Prunes the columns from the comtrade API

In [12]:
def prune_columns(frame):
  important_columns = ['yr','rgCode', 'rtCode','rtTitle', 'ptCode', 'ptTitle', 'TradeQuantity', 'cmdCode', 'TradeValue']
  frame = frame[important_columns]
  frame['cmdCode'] = pd.to_numeric(frame['cmdCode'], errors='coerce', downcast='integer')
  frame.loc[frame['cmdCode'].isna(),'cmdCode'] = -1
  frame.cmdCode = frame.cmdCode.astype(int)
  return frame

In [13]:
def eng_connector(user=None,password=None,host=None,port=None,database=None):
    engine = create_engine('mysql+mysqlconnector://{user}:{password}@{host}:{port}/{database}'.format(user=username,password=password,host=hostname,port=port,database=database), echo=False)
    cnx = engine.connect()
    return engine, cnx

In [ ]:
def get_trade_data(connector, query="select * from cocoapuffs"):
    all_data = pd.read_sql(query,connector)
    #Converts the cmdCode series to the integer datatype
    all_data.cmdCode = pd.to_numeric(all_data.cmdCode,downcast='integer',errors='coerce')
    #Assert all of the cmdCodes are not null after attempting to cast them
    assert(all(all_data.cmdCode.notnull()))
    return all_data

In [ ]:
def upload_db(frame,con,table='cocoapuffs',if_exists='append'):
  frame.to_sql(name=table, con=con, if_exists=if_exists, index=False) #if_exists 'append' or 'replace'

In [ ]:
engine, con = eng_connector(user=username,password=password,host=hostname,port=port,database=database)

In [ ]:
trades = get_trade_data(con)
trades.head()

In [ ]:
list(range(1996,2017))