In [1]:
import sys
!{sys.executable} -m pip install mysql-connector sqlalchemy
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine
from config import *

Requirement already satisfied: mysql-connector in /usr/local/lib/python3.6/site-packages
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.6/site-packages
You are using pip version 9.0.1, however version 10.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
disaster_frame = pd.read_csv('emdata.csv',names=['DisDate','Iso','DisType','Deaths','DollarDamage'])
disaster_frame.head()

      DisDate  Iso     DisType  Deaths  DollarDamage
0  10/06/1954  AFG  Earthquake    2000             0
1  10/06/1956  AFG  Earthquake     100         25000
2    /07/1956  AFG       Flood      51             0
3    /04/1963  AFG       Flood     107             0
4      //1969  AFG     Drought       0           200

In [3]:
def split_dates(frame):
    dates = frame.DisDate
    split_dates = dates.apply(lambda x: x.split('/'))
    years_only = split_dates.apply(lambda x: not x[0] and not x[1])
    months_only = split_dates.apply(lambda x: not x[0] and not not x[1])
    full_dates = split_dates.apply(lambda x: all(x))
    return frame[years_only], frame[months_only], frame[full_dates]

In [4]:
def is_date(row,year=None,month=None,day=None):
    retVal = True
    if year:
        retVal = retVal and row['DisDate'].split('/')[2] == str(year)
    if month:
        retVal = retVal and row['DisDate'].split('/')[1] == str(month)
    if day:
        retVal = retVal and row['DisDate'].split('/')[0] == str(day)
    return retVal

# Prunes the columns from the comtrade API

In [5]:
def prune_columns(frame):
  important_columns = ['yr','rgCode', 'rtCode','rtTitle', 'ptCode', 'ptTitle', 'TradeQuantity', 'cmdCode', 'TradeValue']
  frame = frame[important_columns]
  frame['cmdCode'] = pd.to_numeric(frame['cmdCode'], errors='coerce', downcast='integer')
  frame.loc[frame['cmdCode'].isna(),'cmdCode'] = -1
  frame.cmdCode = frame.cmdCode.astype(int)
  return frame

In [6]:
def eng_connector(user=None,password=None,host=None,port=None,database=None):
    engine = create_engine('mysql+mysqlconnector://{user}:{password}@{host}:{port}/{database}'.format(user=username,password=password,host=hostname,port=port,database=database), echo=False)
    cnx = engine.connect()
    return engine, cnx

In [7]:
engine, con = eng_connector(user=username,password=password,host=hostname,port=port,database=database)

In [8]:
def get_trade_data(connector, query="select * from cocoapuffs"):
    all_data = pd.read_sql(query,connector)
    #Converts the cmdCode series to the integer datatype
    all_data.cmdCode = pd.to_numeric(all_data.cmdCode,downcast='integer',errors='coerce')
    #Assert all of the cmdCodes are not null
    assert(all(all_data.cmdCode.notnull()))
    return all_data

In [9]:
trades = get_trade_data(con)
trades

,yr,rgCode,rtCode,rtTitle,ptCode,ptTitle,TradeQuantity,cmdCode,TradeValue
0,2016,1,276,Germany,56,Belgium,45234634.0,1701,30278272
1,2016,2,276,Germany,56,Belgium,47845776.0,1701,29128813
2,2016,1,276,Germany,56,Belgium,34906463.0,1801,119490227
3,2016,2,276,Germany,56,Belgium,445212.0,1801,1449538
4,2016,1,276,Germany,56,Belgium,849687.0,1804,7293059
5,2016,2,276,Germany,56,Belgium,16735401.0,1804,109612364
6,2016,1,276,Germany,251,France,4038964.0,1804,25895475
7,2016,2,276,Germany,251,France,5237039.0,1804,34312432
8,2016,1,276,Germany,251,France,978112.0,1801,2424948
9,2016,2,276,Germany,251,France,1007992.0,1801,3403256
10,2016,1,276,Germany,251,France,206520333.0,1701,103552548
11,2016,2,276,Germany,251,France,79351567.0,1701,50010958
12,2016,2,276,Germany,384,Côte d'Ivoire,160.0,1701,135
13,2016,1,276,Germany,384,Côte d'Ivoire,118926472.0,1801,372144494
14,2016,1,276,Germany,384,Côte d'Ivoire,7168665.0,1804,43283964
15,2016,1,276,Germany,528,Netherlands,75263166.0,1804,491032173
16,2016,2,276,Germany,528,Netherlands,3573666.0,1804,25313682
17,2016,1,276,Germany,528,Netherlands,48050361.0,1801,162670744
18,2016,2,276,Germany,528,Netherlands,1939804.0,1801,7468900
19,2016,1,276,Germany,528,Netherlands,94737470.0,1701,56605169
20,2016,2,276,Germany,528,Netherlands,63114161.0,1701,35113897
21,2016,1,276,Germany,616,Poland,105399989.0,1701,56483452
22,2016,2,276,Germany,616,Poland,87508662.0,1701,44035588
23,2016,2,276,Germany,616,Poland,1901362.0,1801,6172061
24,2016,1,276,Germany,616,Poland,101252.0,1804,265060
25,2016,2,276,Germany,616,Poland,13471591.0,1804,88849235
26,2016,1,276,Germany,566,Nigeria,50.0,1701,191
27,2016,2,276,Germany,566,Nigeria,434.0,1701,2085
28,2016,1,276,Germany,566,Nigeria,56294702.0,1801,168149350
29,2016,1,276,Germany,566,Nigeria,2891853.0,1804,19226580
...,...,...,...,...,...,...,...,...,...
873,2017,2,842,USA,608,Philippines,1066364.0,1904,2940404
874,2017,2,842,USA,634,Qatar,176906.0,1904,489568
875,2017,2,842,USA,643,Russian Federation,41592.0,1904,172071
876,2017,2,842,USA,659,Saint Kitts and Nevis,126840.0,1904,391082
877,2017,2,842,USA,660,Anguilla,6916.0,1904,31749
878,2017,2,842,USA,662,Saint Lucia,243883.0,1904,648873
879,2017,2,842,USA,670,Saint Vincent and the Grenadines,115035.0,1904,314463
880,2017,2,842,USA,674,San Marino,6534.0,1904,10988
881,2017,2,842,USA,682,Saudi Arabia,1141846.0,1904,3208495
882,2017,2,842,USA,694,Sierra Leone,32268.0,1904,59448
883,2017,2,842,USA,699,India,41501.0,1904,231071
884,2017,2,842,USA,702,Singapore,2555558.0,1904,11436142
885,2017,2,842,USA,704,Viet Nam,158741.0,1904,368884
886,2017,2,842,USA,710,South Africa,68183.0,1904,290947
887,2017,2,842,USA,724,Spain,13618.0,1904,39612
888,2017,2,842,USA,740,Suriname,7939.0,1904,20297
889,2017,2,842,USA,757,Switzerland,1579.0,1904,7967
890,2017,2,842,USA,764,Thailand,266064.0,1904,925107
891,2017,2,842,USA,776,Tonga,138198.0,1904,268870
892,2017,2,842,USA,780,Trinidad and Tobago,771165.0,1904,2879274
893,2017,2,842,USA,784,United Arab Emirates,648816.0,1904,2124296
894,2017,2,842,USA,792,Turkey,21314.0,1904,31224
895,2017,2,842,USA,796,Turks and Caicos Isds,144944.0,1904,476999
896,2017,2,842,USA,804,Ukraine,11917.0,1904,89770
897,2017,2,842,USA,818,Egypt,15986.0,1904,28420
898,2017,2,842,USA,826,United Kingdom,3422899.0,1904,11318921
899,2017,2,842,USA,854,Burkina Faso,2168100.0,1904,927839
900,2017,2,842,USA,862,Venezuela,48589.0,1904,160919
901,2017,2,842,USA,882,Samoa,16757.0,1904,81246
902,2017,2,842,USA,887,Yemen,10666.0,1904,33590

In [10]:
#cmdCode -1 is the total value of that commodity to the world
#rtCode 276 is Germany
trades[(trades['cmdCode']==-1) & (trades['rtCode']!=276)]

,yr,rgCode,rtCode,rtTitle,ptCode,ptTitle,TradeQuantity,cmdCode,TradeValue
660,2017,2,8,Albania,0,World,0.0,-1,2261555720
661,2017,2,12,Algeria,0,World,0.0,-1,35191117416
662,2017,2,51,Armenia,0,World,0.0,-1,2041341086
663,2017,2,56,Belgium,0,World,0.0,-1,429980167539
664,2017,2,70,Bosnia Herzegovina,0,World,0.0,-1,6366899729
665,2017,2,76,Brazil,0,World,0.0,-1,217739177077
666,2017,2,100,Bulgaria,0,World,0.0,-1,30181926138
667,2017,2,124,Canada,0,World,0.0,-1,420501790917
668,2017,2,144,Sri Lanka,0,World,0.0,-1,11741036786
669,2017,2,152,Chile,0,World,0.0,-1,68305476034
670,2017,2,196,Cyprus,0,World,0.0,-1,3367844603
671,2017,2,208,Denmark,0,World,0.0,-1,101641258465
672,2017,2,218,Ecuador,0,World,0.0,-1,19122455098
673,2017,2,222,El Salvador,0,World,0.0,-1,5760014842
674,2017,2,246,Finland,0,World,0.0,-1,67280640848
676,2017,2,344,"China, Hong Kong SAR",0,World,0.0,-1,550239645863
677,2017,2,352,Iceland,0,World,0.0,-1,4850345946
678,2017,2,360,Indonesia,0,World,0.0,-1,168810042930
679,2017,2,372,Ireland,0,World,0.0,-1,138072213252
680,2017,2,381,Italy,0,World,0.0,-1,503053928396
681,2017,2,392,Japan,0,World,0.0,-1,698097188909
682,2017,2,398,Kazakhstan,0,World,0.0,-1,48342074036
683,2017,2,400,Jordan,0,World,0.0,-1,7469238450
684,2017,2,410,Rep. of Korea,0,World,0.0,-1,573627368937
685,2017,2,414,Kuwait,0,World,0.0,-1,54806847168
686,2017,2,417,Kyrgyzstan,0,World,0.0,-1,1783967196
687,2017,2,440,Lithuania,0,World,0.0,-1,29910455532
688,2017,2,458,Malaysia,0,World,0.0,-1,216428429221
689,2017,2,554,New Zealand,0,World,0.0,-1,38050286199
690,2017,2,579,Norway,0,World,0.0,-1,101976020159
691,2017,2,586,Pakistan,0,World,0.0,-1,21877787164
692,2017,2,600,Paraguay,0,World,0.0,-1,8679986850
693,2017,2,616,Poland,0,World,0.0,-1,221307621302
694,2017,2,620,Portugal,0,World,0.0,-1,62169899628
695,2017,2,642,Romania,0,World,0.0,-1,70626887499
696,2017,2,643,Russian Federation,0,World,0.0,-1,359151975200
697,2017,2,699,India,0,World,0.0,-1,216913468213
698,2017,2,710,South Africa,0,World,0.0,-1,88267959727
699,2017,2,724,Spain,0,World,0.0,-1,319621896043
700,2017,2,752,Sweden,0,World,0.0,-1,153105766487
701,2017,2,757,Switzerland,0,World,0.0,-1,299308693087
702,2017,2,792,Turkey,0,World,0.0,-1,157054788588
703,2017,2,807,TFYR of Macedonia,0,World,0.0,-1,5670378572
704,2017,2,826,United Kingdom,0,World,0.0,-1,443733889635
705,2017,2,842,USA,0,World,0.0,-1,1546069078405
706,2017,2,858,Uruguay,0,World,0.0,-1,7889387375
707,2017,2,32,Argentina,0,World,0.0,-1,58384194969
708,2017,2,268,Georgia,0,World,0.0,-1,2727963623
709,2017,2,388,Jamaica,0,World,0.0,-1,1309718443
710,2017,2,484,Mexico,0,World,0.0,-1,409451378170
711,2017,2,498,Rep. of Moldova,0,World,0.0,-1,2425118752
712,2017,2,524,Nepal,0,World,0.0,-1,740742914
713,2017,2,804,Ukraine,0,World,0.0,-1,43428391056
714,2017,2,818,Egypt,0,World,0.0,-1,25943246510
715,2017,2,882,Samoa,0,World,0.0,-1,44401814
716,2017,2,740,Suriname,0,World,0.0,-1,1441019448
717,2017,2,52,Barbados,0,World,0.0,-1,485387947
718,2017,2,608,Philippines,0,World,0.0,-1,63233057694