Data was retrieved from the oec data site: https://atlas.media.mit.edu/en/resources/data/

In [1]:
import pandas as pd
from IPython.display import display

In [2]:
!ls

country_names.tsv	  year_origin_destination_hs07_4.tsv
pandas_filter_data.ipynb  year_origin_destination_hs96_4.tsv
products_hs_07.tsv	  year_origin_hs96_4.tsv
products_hs_96.tsv

Get the country names and products table

In [3]:
country_names = pd.read_table('country_names.tsv')
products = pd.read_table('products_hs_07.tsv')
products

            id    hs07                                               name
0        10101     101             Live horses, asses, mules and hinnies.
1      1010110   10110  Live horses/asses/mules/hinnies: pure-bred bre...
2      1010190   10190  Live horses/asses/mules/hinnies other than pur...
3        10102     102                               Live bovine animals.
4      1010210   10210    Live bovine animals: pure-bred breeding animals
5      1010290   10290  Live bovine animals other than pure-bred breed...
6        10103     103                                        Live swine.
7      1010310   10310             Live swine: pure-bred breeding animals
8      1010391   10391  Live swine other than pure-bred breeding anima...
9      1010392   10392  Live swine other than pure-bred breeding anima...
10       10104     104                              Live sheep and goats.
11     1010410   10410                                         Live sheep
12     1010420   10420                                         Live goats
13       10105     105  Live poultry, that is to say, fowls of the spe...
14     1010511   10511  Live fowls of species Gallus domesticus, weigh...
15     1010512   10512                   Live turkeys, weighing not >185g
16     1010519   10519  Live ducks/geese/guinea fowls, weighing not >185g
17     1010594   10594  Live fowls of species Gallus domesticus, weigh...
18     1010599   10599  Live ducks/geese/turkeys/guinea fowls, weighin...
19       10106     106                                Other live animals.
20     1010611   10611                                      Live primates
21     1010612   10612  Live whales/dolphins & porpoises (order Cetace...
22     1010619   10619                               Live mammals, n.e.s.
23     1010620   10620              Live reptiles, incl. snakes & turtles
24     1010631   10631                                 Live birds of prey
25     1010632   10632  Live birds (order Psittaciformes), incl. parro...
26     1010639   10639            Live birds (excl. of 0106.31 & 0106.32)
27     1010690   10690                               Live animals, n.e.s.
28       10201     201          Meat of bovine animals, fresh or chilled.
29     1020110   20110  Carcasses/half-carcasses of bovine animals, fr...
...        ...     ...                                                ...
6246  20961380  961380  Lighters other than pocket lighters, whether/n...
6247  20961390  961390  Parts of the lighters of 96.13 (excl. flints &...
6248    209614    9614  Smoking pipes (including pipe bowls) and cigar...
6249  20961400  961400  Smoking pipes (incl. pipe bowls) & cigar/cigar...
6250    209615    9615  Combs, hair-slides and the like; hairpins, cur...
6251  20961511  961511  Combs, hair-slides & the like, of hard rubber/...
6252  20961519  961519  Combs, hair-slides & the like, other than of h...
6253  20961590  961590  Hairpins, curling pins, curling grips, hair-cu...
6254    209616    9616  Scent sprays and similar toilet sprays, and mo...
6255  20961610  961610  Scent sprays & similar toilet sprays, & mounts...
6256  20961620  961620  Powder-puffs & pads for the application of cos...
6257    209617    9617  Vacuum flasks and other vacuum vessels, comple...
6258  20961700  961700  Vacuum flasks & other vacuum vessels, complete...
6259    209618    9618  Tailors' dummies and other lay figures; automa...
6260  20961800  961800  Tailors' dummies & other lay figures; automata...
6261    219701    9701  Paintings, drawings and pastels, executed enti...
6262  21970110  970110  Paintings, drawings & pastels, executed entire...
6263  21970190  970190              Collages & similar decorative plaques
6264    219702    9702       Original engravings, prints and lithographs.
6265  21970200  970200          Original engravings, prints & lithographs
6266    219703    9703  Original sculptures and statuary, in any mater...
6267  21970300  970300    Original sculptures & statuary, in any material
6268    219704    9704  Postage or revenue stamps, stamp-postmarks, fi...
6269  21970400  970400  Postage/revenue stamps, stamp-postmarks, first...
6270    219705    9705  Collections and collectors' pieces of zoologic...
6271  21970500  970500  Collections & collectors' pieces of zoological...
6272    219706    9706    Antiques of an age exceeding one hundred years.
6273  21970600  970600             Antiques of an age > one hundred years
6274    229999    9999        Commodities not specified according to kind
6275  22999999  999999        Commodities not specified according to kind

[6276 rows x 3 columns]

For example lets try to get some of the tea traffic

In [4]:
country_names.head()

      id id_3char          name
0  afago      ago        Angola
1  afbdi      bdi       Burundi
2  afben      ben         Benin
3  afbfa      bfa  Burkina Faso
4  afbwa      bwa      Botswana

In [5]:
def filter_chunks(iterator_frame, condition, max_chunks=None, chunksize=10000):
    chunk = next(iterator_frame)
    result_df = chunk[eval(condition)]#Generalized conditions
    cur_chunk = 1
    for chunk in iterator_frame:
        if max_chunks is not None:
            if cur_chunk >= max_chunks:
                break
        filtered_chunk = chunk[eval(condition)]
        result_df = pd.concat([result_df, filtered_chunk])
        cur_chunk += 1
    return result_df

In [6]:
route_table = pd.read_table('year_origin_destination_hs07_4.tsv', chunksize=10000)
condition = "(chunk['origin'] == 'ken')"#Get all of the kenyan exports
my_df = filter_chunks(route_table, condition)

In [7]:
export_length = my_df[(my_df['export_val'].notnull())].shape[0]
import_length = my_df[(my_df['import_val'].notnull())].shape[0]
orig_length = my_df.shape[0]
print("Original Length: {}, Export Length: {}, Import Length: {}, Sum: {}".format(orig_length, export_length, import_length, import_length + export_length))

Original Length: 147239, Export Length: 58091, Import Length: 106860, Sum: 164951

In [8]:
#Lets map the origin id's to the origin country
kenya_transactions_with_countries = pd.merge(my_df,country_names,left_on='origin', right_on='id_3char')
del kenya_transactions_with_countries['id_3char']
del kenya_transactions_with_countries['id']
kenya_transactions_with_countries.rename(index=str, columns={"name":"from_name"}, inplace=True)
#Now do the same thing for the destination country
kenya_transactions_with_countries = pd.merge(kenya_transactions_with_countries,country_names,left_on='dest', right_on='id_3char')
del kenya_transactions_with_countries['id_3char']
del kenya_transactions_with_countries['id']
kenya_transactions_with_countries.rename(index=str, columns={"name":"to_name"}, inplace=True)
#Show me 25 random records
display(kenya_transactions_with_countries.sample(25))

,year,origin,dest,hs07,export_val,import_val,from_name,to_name
2649,2008,ken,cod,8701,51758.00,NaN,Kenya,Democratic Republic of the Congo
59442,2011,ken,ind,8512,1786.00,144550.00,Kenya,India
3888,2013,ken,cod,9609,44188.00,NaN,Kenya,Democratic Republic of the Congo
88721,2010,ken,blx,9011,NaN,2812.00,Kenya,Belgium-Luxembourg
7425,2009,ken,eth,7615,1024020.71,NaN,Kenya,Ethiopia
85546,2010,ken,aut,3105,NaN,2729.97,Kenya,Austria
59935,2012,ken,ind,5107,NaN,19656.00,Kenya,India
75475,2014,ken,pak,8483,NaN,34607.00,Kenya,Pakistan
135834,2008,ken,usa,8480,90832.00,59450.98,Kenya,United States
134494,2012,ken,gtm,8528,1011.00,NaN,Kenya,Guatemala
46293,2008,ken,chn,5407,NaN,14823067.80,Kenya,China
96789,2011,ken,deu,8487,NaN,26238.00,Kenya,Germany
99734,2010,ken,dnk,8434,NaN,50381.00,Kenya,Denmark
25052,2010,ken,tza,6111,52134.74,12272.00,Kenya,Tanzania
135719,2008,ken,usa,7413,NaN,2992.52,Kenya,United States
140311,2009,ken,aus,3823,NaN,80719.69,Kenya,Australia
68343,2010,ken,kor,8450,NaN,670591.47,Kenya,South Korea
138513,2012,ken,usa,9005,NaN,99414.00,Kenya,United States
140157,2008,ken,aus,8480,NaN,280636.00,Kenya,Australia
78238,2013,ken,sgp,2001,NaN,43645.00,Kenya,Singapore
72526,2011,ken,mys,8516,NaN,821291.00,Kenya,Malaysia
57368,2009,ken,ind,6405,4171.45,225668.68,Kenya,India
4300,2010,ken,dji,3304,136511.00,NaN,Kenya,Djibouti
620,2009,ken,bdi,8482,3937.00,NaN,Kenya,Burundi
31002,2011,ken,uga,1302,15750.00,148332.00,Kenya,Uganda

In [9]:
kenya_trans_with_products = pd.merge(kenya_transactions_with_countries, products, left_on='hs07', right_on='hs07')
del kenya_trans_with_products['id']#Delete foreign key 
kenya_trans_with_products.rename(index=str, columns={"name":"product_name"}, inplace=True) # Rename column
kenya_trans_with_products[(kenya_trans_with_products['year'] == 2010) & (kenya_trans_with_products['dest']=='gbr')].sample(50)

,year,origin,dest,hs07,export_val,import_val,from_name,to_name,product_name
141278,2010,ken,gbr,5909,NaN,11557.89,Kenya,United Kingdom,"Textile hosepiping and similar textile tubing,..."
17256,2010,ken,gbr,4202,204330.99,59675.82,Kenya,United Kingdom,"Trunks, suit-cases, vanity-cases, executive-ca..."
49090,2010,ken,gbr,7307,NaN,1326923.91,Kenya,United Kingdom,"Tube or pipe fittings (for example, couplings,..."
47368,2010,ken,gbr,7215,NaN,21916.02,Kenya,United Kingdom,Other bars and rods of iron or non-alloy steel.
54250,2010,ken,gbr,8409,58359.00,3693723.94,Kenya,United Kingdom,Parts suitable for use solely or principally w...
31252,2010,ken,gbr,3208,NaN,317794.16,Kenya,United Kingdom,Paints and varnishes (including enamels and la...
50261,2010,ken,gbr,7315,NaN,654577.28,Kenya,United Kingdom,"Chain and parts thereof, of iron or steel."
108996,2010,ken,gbr,5204,NaN,16894.96,Kenya,United Kingdom,"Cotton sewing thread, whether or not put up fo..."
47540,2010,ken,gbr,7216,NaN,305733.49,Kenya,United Kingdom,"Angles, shapes and sections of iron or non-all..."
59878,2010,ken,gbr,8502,NaN,20031374.99,Kenya,United Kingdom,Electric generating sets and rotary converters.
123668,2010,ken,gbr,9306,NaN,71450.81,Kenya,United Kingdom,"Bombs, grenades, torpedoes, mines, missiles an..."
106607,2010,ken,gbr,2918,NaN,26758.37,Kenya,United Kingdom,Carboxylic acids with additional oxygen functi...
42096,2010,ken,gbr,5511,NaN,4441.00,Kenya,United Kingdom,Yarn (other than sewing thread) of man-made st...
54524,2010,ken,gbr,8412,NaN,152976.51,Kenya,United Kingdom,Other engines and motors.
96321,2010,ken,gbr,1102,2108.00,1107.21,Kenya,United Kingdom,Cereal flours other than of wheat or meslin.
138707,2010,ken,gbr,5505,NaN,48327.55,Kenya,United Kingdom,"Waste (including noils, yarn waste and garnett..."
83894,2010,ken,gbr,2916,NaN,93584.01,Kenya,United Kingdom,"Unsaturated acyclic monocarboxylic acids, cycl..."
119221,2010,ken,gbr,810,589040.64,6240.00,Kenya,United Kingdom,"Other fruit, fresh."
70992,2010,ken,gbr,3215,3112.00,1465485.25,Kenya,United Kingdom,"Printing ink, writing or drawing ink and other..."
78753,2010,ken,gbr,8480,NaN,153849.98,Kenya,United Kingdom,Moulding boxes for metal foundry; mould bases;...
116900,2010,ken,gbr,8459,NaN,154612.99,Kenya,United Kingdom,Machine-tools (including way-type unit head ma...
135327,2010,ken,gbr,4007,NaN,46002.00,Kenya,United Kingdom,Vulcanised rubber thread and cord.
69882,2010,ken,gbr,2806,NaN,1542.78,Kenya,United Kingdom,Hydrogen chloride (hydrochloric acid); chloros...
70749,2010,ken,gbr,3207,NaN,44727.05,Kenya,United Kingdom,"Prepared pigments, prepared opacifiers and pre..."
83697,2010,ken,gbr,2906,NaN,120398.63,Kenya,United Kingdom,"Cyclic alcohols and their halogenated, sulphon..."
18416,2010,ken,gbr,6505,NaN,21600.27,Kenya,United Kingdom,"Hats and other headgear, knitted or crocheted,..."
137279,2010,ken,gbr,8406,NaN,203003.95,Kenya,United Kingdom,Steam turbines and other vapour turbines.
68321,2010,ken,gbr,9617,NaN,6209.00,Kenya,United Kingdom,"Vacuum flasks and other vacuum vessels, comple..."
128555,2010,ken,gbr,6308,NaN,5704.62,Kenya,United Kingdom,"Sets consisting of woven fabric and yarn, whet..."
97246,2010,ken,gbr,2815,NaN,21792.51,Kenya,United Kingdom,Sodium hydroxide (caustic soda); potassium hyd...
47699,2010,ken,gbr,7217,NaN,428423.68,Kenya,United Kingdom,Wire of iron or non-alloy steel.
96683,2010,ken,gbr,2209,NaN,6539.50,Kenya,United Kingdom,Vinegar and substitutes for vinegar obtained f...
48078,2010,ken,gbr,7228,NaN,17238.18,Kenya,United Kingdom,Other bars and rods of other alloy steel; angl...
95225,2010,ken,gbr,9605,NaN,318006.00,Kenya,United Kingdom,"Travel sets for personal toilet, sewing or sho..."
144858,2010,ken,gbr,5602,NaN,1288.00,Kenya,United Kingdom,"Felt, whether or not impregnated, coated, cove..."
42544,2010,ken,gbr,6103,80464.00,21413.94,Kenya,United Kingdom,"Men's or boys' suits, ensembles, jackets, blaz..."
17691,2010,ken,gbr,4901,74044.47,11207357.19,Kenya,United Kingdom,"Printed books, brochures, leaflets and similar..."
117912,2010,ken,gbr,9207,7588.00,55800.16,Kenya,United Kingdom,"Musical instruments, the sound of which is pro..."
19561,2010,ken,gbr,8476,NaN,4471.00,Kenya,United Kingdom,"Automatic goods-vending machines (for example,..."
143119,2010,ken,gbr,6602,NaN,1269.00,Kenya,United Kingdom,"Walking-sticks, seat-sticks, whips, riding-cro..."
103750,2010,ken,gbr,8487,NaN,144084.18,Kenya,United Kingdom,"Machinery parts, not containing electrical con..."
51427,2010,ken,gbr,7325,3470.00,7521.63,Kenya,United Kingdom,Other cast articles of iron or steel.
7120,2010,ken,gbr,2836,NaN,117631.58,Kenya,United Kingdom,Carbonates; peroxocarbonates (percarbonates); ...
142769,2010,ken,gbr,1605,NaN,36706.76,Kenya,United Kingdom,"Crustaceans, molluscs and other aquatic invert..."
40249,2010,ken,gbr,4818,10166.08,674998.65,Kenya,United Kingdom,"Toilet paper and similar paper, cellulose wadd..."
87645,2010,ken,gbr,5808,NaN,15985.23,Kenya,United Kingdom,Braids in the piece; ornamental trimmings in t...
98860,2010,ken,gbr,4421,55046.50,19263.25,Kenya,United Kingdom,Other articles of wood.
127087,2010,ken,gbr,601,57243.00,12214.48,Kenya,United Kingdom,"Bulbs, tubers, tuberous roots, corms, crowns a..."
92861,2010,ken,gbr,8458,NaN,382778.50,Kenya,United Kingdom,Lathes (including turning centres) for removin...
109761,2010,ken,gbr,7117,621933.89,128095.82,Kenya,United Kingdom,Imitation jewellery.

In [10]:
exports = kenya_trans_with_products[(kenya_trans_with_products['export_val'].notnull())]
exports['export_val'].sum()

38590981300.73